section.footer-container
  .foot
    h3.ft-color Trusted Website
  .foot
    h3.ft-color Useful Links
    hr.line
    ul.ft-list
      li Home
      li Services
      li Login
      li About Us
    hr.line
  .foot
    h3.ft-color Important Links
    hr.line
    ul.ft-list
      li Privacy Policy
      li Terms and Conditions
      li Contact us
