section(id="Home")
  .home-container
    .content-wrapper
      .left-content
        h1 Welcome to the Perfect Couple Match Platform
        p Find the right partner with the right path.
        button.register-button Register
      .right-content
        img(src="/Home Page/Br.png" alt="Bride Image" class="bride-image")

section(id="Services")
  h1.s-heading Services
  .container
    .service
      i.fas.fa-camera
      h2 Professional Photographer
    .service
      i.fas.fa-calendar-alt
      h2 Event Management
    .service
      i.fas.fa-headset
      h2 24/7 Team Support

section(id="join")
  .join-container
    .content-wrapper
      .left-content
        h3 Discover the secret to a thriving marriage: join us and unlock the pathway to lifelong love and happiness!
      .right-content
        img(src="/Home Page/join.png" alt="Join Image" class="join-image")

section(id="about")
  div
    h1 Why Choose Us?
    div
      img(src="./Home Page/Perfect.png" alt="Perfect Icon" class="Perfect-image")
      h2 Perfect Matching
      img(src="./Home Page/Trust.png" alt="Trust Icon" class="Trust-image")
      h2 Trusted Platform
      img(src="./Home Page/Suportive.png" alt="Suportive Icon" class="Suportive-image")
      h2 Supportive Community

section.Stories-container
  h1.Stories Successful Stories
  .card#card1
    img(src="./Home Page/image1.jpg" alt="Image 1")
    h3 Islamabad
    p In the bustling streets of Islamabad, fate led us to each other, proving that love knows no boundaries
  .card#card2
    img(src="./Home Page/image2.jpg" alt="Image 2")
    h3 Lahore
    p From the bustling streets of Lahore to the aisle of love, our journey began with a single click
  .card#card3
    img(src="./Home Page/image3.jpg" alt="Image 3")
    h3 Karachi
    p From the bustling streets of Lahore to the aisle of love, our journey began with a single click
