doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Registration
    link(rel="stylesheet" href="/styles.css")
    block headScripts
  body
    block content

    block scripts
    script(src="/js/registration.js")
